doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        link(rel='stylesheet' href='css/style.css')
        link(rel='icon' href='img/favicon-32x32.png' type='image/gif' sizes='32x32')
        script(src="https://kit.fontawesome.com/a076d05399.js")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
        title= title

    body
        .intro
            .container-fluid
                nav.navbar.menu
                    //- .row
                    a.navbar-brand(href='#')
                        img(src='img/uet-logo.png' width='48' height='48' alt='')
                        .slogan
                            b.text-brand UET
                            p Creative Thinking for the Future
                    a.logout(href='/logout') 
                        img(src='img/sign-out.svg' height="16px") 
                        span.ml-1 Logout
        .container-fluid
            .row.content
                .sidebar-menu
                    .sidebar
                        ul
                            li
                                i.fas.fa-home
                                a.home(href='/student/homepage') Trang chủ
                            li
                                i.fas.fa-school
                                a.classroom(href='/student/classes') Lớp
                            li
                                i.fas.fa-user
                                a.student(href='/student/profile') Sinh viên
                            li
                                i.fas.fa-chalkboard-teacher
                                a.lecturer(href='/teachers') Giảng viên
                            li
                                i.fas.fa-award
                                a.result(href='/student/grades') Điểm thi
                   
                .dashboard.m-3
                    .content-intro= title   
                    .content-container
                        block content

            
    


