doctype html
html
    head
        meta(charset='UTF-8')
        title= title
        link(rel='icon' href='img/favicon-32x32.png' type='image/gif' sizes='32x32')
        link(rel='stylesheet' href='css/style.css')
        script(src="https://kit.fontawesome.com/a076d05399.js")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
    body
        .intro
            .container-fluid
                .row.menu
                    .menu-brand
                        b STUDENT MANAGEMENT
        .login
            h2.text-center Change password
            form(method='post')
                .form-group
                    .inputbox
                        label New password :
                        input.form-control(type='password' name='new_password' placeholder='Enter new password' required)
                
                    .inputbox
                        label Confirm password :
                        input.form-control(type='password' name='confirm_password' placeholder='Enter new password again' required)
                    
                    button.btn.btn-primary.btn-block(type='submit' value='Submit') Submit
            